@import "./../../assets/sass/colors.scss";

/* Icon */
.ant-menu,
.ant-menu-item {
  background-color: $dark-08;
}

.ant-layout-sider {
  border-right: 2px solid $cOrange !important;
}

.ant-menu-item {
  svg {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
  margin-bottom: 0.5rem !important;
}

.ant-menu-item svg {
  font-size: 1.3rem !important;
}

/* Active Item */
.ant-menu-item-selected {
  background-color: $dark-20 !important;
  color: $cGrey-20 !important;
}

.ant-layout-sider-trigger {
  background-color: $dark-12 !important;
  border: 1px solid $cOrange;
}

/* Trigger button */
.ant-layout-sider-trigger {
  position: absolute !important;
}
