@import "./../../assets/sass/colors.scss";

.cl-signIn-start,
.cl-signIn-password {
  background-color: $cOrange;

  h1,
  p,
  label {
    color: $cGrey-12 !important;
  }

  .cl-footer ~ div {
    display: none !important;
    visibility: hidden !important;
  }

  .cl-formButtonPrimary {
    background-color: $dark-12;
  }

  .cl-formButtonPrimary:hover,
  .cl-formButtonPrimary:active {
    box-shadow: $cGrey-08 0px 0px 0px 2px;
  }
}
