@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./assets//sass/colors.scss";

body,
html {
  font-family: "Manrope";
}

// Scroll
*::-webkit-scrollbar {
  background-color: $dark-06;
  width: 9px;
  height: 9px;
  direction: rtl !important;
  border-radius: 15px;
}

*::-webkit-scrollbar-thumb {
  background-color: $cOrange;
  border-radius: 15px;
}

.ant-message-notice-content {
  width: 100% !important;
  background-color: $cOrange !important;
  color: $cGrey-20 !important;
  font-size: 17px !important;
}
