$dark-03: #070708;
$dark-06: #0e0e10;
$dark-08: #131316;
$dark-12: #1c1c21;
$dark-15: #232329;
$dark-20: #2f2f37;
$dark-25: #3b3b45;
$dark-30: #474752;

$cGrey-03: #62646c;
$cGrey-06: #797c86;
$cGrey-08: #afb0b6;
$cGrey-12: #cacace;
$cGrey-15: #e4e4e6;
$cGrey-20: #f2f2f3;
$cGrey-25: #f7f7f8;
$cGrey-30: #fcfcfd;
